extends layout

block content
  if zagat
  div.container
    div.header
      p.title= zagat.name
      a(href ='/').gohome Home
    div.main
      div.left
        img.show(src="/images/" + zagat.image)
      div.right
        p= zagat.type + ' Cuisine'
        p= 'Located in ' + zagat.location + ', ' + zagat.state
        if zagat.description
          p.describe= zagat.description
        else 
          p.describe= 'No Description Available'
        p.rating Rating:  
          -for(var i=0; i<zagat.rating; i++) 
             img.starshow(src="/images/star.png")
        a(href="/edit/"+ zagat.id).cancel.edit Edit
        a(href= '/' + zagat.id + "/delete").cancel.delete Delete
